services:
  mysql:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lamp_mysql
    hostname: lamp_mysql
    tty: true     # Keep the container running with an interactive shell
    stdin_open: true
    volumes:
      - ./user_data:/home/ubuntu
      - ../temp:/data/temp
      - ./custom.cnf:/etc/mysql/conf.d/custom.cnf
      - mysqldata:/var/lib/mysql

    ports:
      - "2002:22"
      - "3366:3306"

    networks:
      lamp-network:
        ipv4_address: 172.45.0.2

volumes:
  mysqldata:

networks:
  lamp-network:
    external: true
