services:
  apache2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lamp_apache2
    hostname: lamp_apache2
    tty: true     # Keep the container running with an interactive shell
    stdin_open: true
    volumes:
      - ./user_data:/home/ubuntu
      - ../temp:/data/temp
      - ${DIR_CODE}/sueltos:/var/www/sueltos
      - ${DIR_CODE}/webs:/var/www/webs
      - ${DIR_CODE}/maquetas3:/var/www/maquetas3
      - ${DIR_CODE}/codigo:/var/www/codigo
      - ${DIR_CODE}/actualWebs:/var/www/actualWebs
      - ${DIR_CODE}/articulos:/var/www/articulos
      - ${DIR_CODE}/pruebas:/var/www/pruebas
      - ~/.ssh:/home/devuser/.ssh
      - ${DIR_CODE}/files:/var/www/files

    working_dir: /var/www

    ports:
      - "80:80"
      - "2000:22"

    networks:
      lamp-network:
        ipv4_address: 172.45.0.3
  
networks:
  lamp-network:
    external: true
